__pycache__/
.vscode
.DS_store
assignment2/cs231n/datasets/cifar-10-batches-py/
assignment3/cs231n/datasets/MNIST_data/
assignment3/cs231n/datasets/imagenet_val_25.npz
assignment3/data
assignment3/pretrained_model